2018_FYP/Admin/*
2018_FYP/MATLAB_docs/*
2018_FYP/MATLAB_plots/*
2018_FYP/Notes_To_Self/*
2018_FYP/Papers/*
2018_FYP/TeXDocs/*
2018_FYP/TexFiles/*
2018_FYP/TxtBooks/*
2018_FYP/Useful_Articles_and_Miscellaneous/*
2018_FYP/Useful_Diagrams/*
2018_FYP/Useful_Links/*
2018_FYP/MATLAB_src/*.slx
2018_FYP/MATLAB_src/Examples/*
2018_FYP/.dropbox
